@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.h1-text {
		@apply font-workSans font-bold xs:text-h1FontSizeMobile md:text-h1FontSize;
	}
	.h2-text {
		@apply font-workSans font-bold xs:text-h2FontSizeMobile md:text-h2FontSize;
	}
	.h3-text {
		@apply font-workSans font-bold text-2xl;
	}
	.subtitle-text {
		@apply font-workSans font-medium text-2xl;
	}
	.body-text {
		@apply font-workSans font-medium text-base;
	}
	.boldBody-text {
		@apply font-workSans font-bold text-base;
	}
	.small-text {
		@apply font-workSans font-medium text-sm;
	}
	.pretitle-text {
		@apply font-workSans font-bold text-pretitleFontSize;
	}
	.button-text {
		@apply font-workSans font-bold text-base;
	}
	.link-text {
		@apply font-workSans font-bold text-base underline-offset-4;
	}
	.primary-button {
		@apply px-6 py-3 rounded-lg bg-iris-color button-text font-medium text-white shadow-xl;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.rec.rec-dot_active {
	background-color: #e4e4e7;
	box-shadow: 0 0 1px 3px #0e0e2c;
}
.rec.rec-dot:focus,
.rec.rec-dot:hover {
	background-color: "#c9c9d0";
	box-shadow: 0 0 1px 3px #0e0e2c;
}
.rec.rec-dot_active:focus,
.rec.rec-dot_active:hover {
	background-color: #c9c9d0;
	box-shadow: 0 0 1px 3px #0e0e2c;
}

.rec.rec-arrow {
	background-color: #e4e4e7;
	color: "#0e0e2c";
}

.rec.rec-arrow:hover:not(:disabled) {
	background-color: #0e0e2c;
	color: white;
	transform: scale(1.1);
}

.outline-text {
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #4b4ded;
}
